.imgDetail {
    width: 50%;
    height: 50%;
}

.card {
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    width: 65%;
    margin-left: 20%;
    height: auto;
    padding: 5px;
    border-radius: 13px;
    background-color: cornsilk;
}

.card-title {
    font-size: 15px;
}

.card-text {
    font-size: 10px;
    margin-bottom: 5px;
}